@font-face {
    font-family: 'Montserrat';
    src: url('/public/font/static/Montserrat-Regular.ttf') format('truetype'); /* Ruta relativa a l'arxiu de la font Regular */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/font/static/Montserrat-Bold.ttf') format('truetype'); /* Ruta relativa a l'arxiu de la font Bold */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/font/static/Montserrat-Medium.ttf') format('truetype'); /* Ruta relativa a l'arxiu de la font Medium */
    font-weight: 500; /* Pes 500 és equivalent a Medium */
    font-style: normal;
}

/* Defineix altres variants de la font Montserrat si les necessites (per exemple, Italic, etc.) */


/* Estils generals */
body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1450px;
    margin: 20px auto;
}


/* Estils per al div de la foto de perfil i els projectes de l'usuari */
.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horitzontalment els elements */
    align-items: center; /* Centra verticalment els elements */
    
}

.profile-section * {
    font-weight: bold; /* Aplica negreta a tots els elements dins de .profile-section */
}

/* Estils per a la informació de l'usuari (subapartat superior) */
.profile-info {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 230px; /* Amplia l'apartat */
    text-align: center; /* Centra la imatge */
}

.user-name {
    margin-top: 10%;
    text-transform: uppercase;
}

.user-detail {
    text-transform: uppercase;
}

.profile-info img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10%;
    cursor: pointer; /* Canvia el cursor a la màquina quan està sobre l'element */
    pointer-events: auto; /* Habilita els events de punter */
}
.profile-info img:hover {
    filter: brightness(80%);
}
.image-project {
    width: 42%;
    height: 42%;
    border-radius: 10%;
    object-fit: cover;
    margin-right: 2%;
    display: inline-block; /* Mostrar imágenes en línea */
}


/* Estils per als projectes de l'usuari (subapartat inferior) */
.user-projects {
    background-color: white; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 20px; /* Espaiat interior */
    width: 230px;
    
}

.user-projects ul {
    list-style-type: none;
    padding: 0;
}

.button-container {
    margin-top: 20%;
    display: flex;
    justify-content: center; /* Centra els botons horitzontalment */
}


.buttonProjects {
    background-color: #109336;
    color: white;
    width: 60px;
    height: 30px;
    margin: 0 7px; /* Espaiat entre botons */
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
}

.buttonProjects:hover {
    background-color: #084e1d;
    }
    
    .buttonProjects:focus {
        background-color: #084e1d; /* Canvi de color de fons quan es passa el cursor o es fa focus */
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fons semi-transparent */
        display: none;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    .form-container button {
        font-weight: bold; /* Negreta mitjà */
        background-color: #109336;
        color: white;
        width: 75px;
        height: 30px;
        margin: 0 7px; /* Espaiat entre botons */
        border: none; /* Elimina el borde */
        border-radius: 10px; /* Bordes rodons */
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
        transition: background-color 0.3s; /* Transició suau del color de fons */
        
    }

    .form-container button:hover {
        background-color: #084e1d;
        }
        
        .form-container button:focus {
            background-color: #084e1d; /* Canvi de color de fons quan es passa el cursor o es fa focus */
        }


/* Estils per al div central amb els projectes guardats i els projectes principals */
.main-section {
    flex: 1; /* Flexibilitat per ocupar l'espai restant */
    margin: 0 20px;
    
}

.main-title {
    font-weight: bold;  
}
/* Estils per als projectes guardats, matches, likes, etc. */
.saved-projects {
    position: relative;
    background-color: white; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 30px; /* Espaiat interior */
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    min-height: 340px;
}


/* Estils per a l'encapçalament dels apartats */
.saved-projects h3, .project-cards h3 {
    margin-bottom: 10px; /* Espaiat inferior de l'encapçalament */
}


/* Estils per als quadrats dels projectes */
.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnes iguals */
    gap: 0px; /* Espai entre les columnes */
    margin-top: 2%;
}

.project-card-saved {
    background-color: #b2d4e0; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 10px; /* Espaiat interior */
    width: 170px;
    height: 170px;    
}


.project-card-image {
    width: 80px; 
    height: 80px;
    border-radius: 8px; /* Bordes rodons per la imatge */
}


.project-card-saved h6 {
    margin-top: 10px; /* Espaiat superior */
    margin-bottom: 1px; /* Espaiat inferior del títol */
    font-weight: bold; /* Font en negreta per a h6 */
}

.project-card-saved p {
    margin-bottom: 0; /* Elimina l'espaiat inferior del paràgraf */
    font-weight: 500; /* Pes 500 és equivalent a Medium */
}
.icon-project {
    
    height: 20%;
    margin-left: 9.5%;
    margin-top: -2.6%;
    position: absolute;
    cursor: pointer; /* Canvia el cursor del ratolí quan passa per sobre de la imatge */
    transition: transform 0.3s; /* Afegim una transició suau per l'escalatge */
}

.icon-project:hover {
    transform: scale(1.2); /* Augmenta la mida de la imatge al passar el ratolí per sobre */
}

.menu-contextual {
    position: absolute;
    width: 100px; 
    margin-left: 41%;
    margin-top: 28%;
}


.pagination-button-left,
.pagination-button-right {
    margin-top: 28%;
    position: absolute;
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
    border: 1px solid #ccc; /* Grosor del borde delgado */
    border-radius: 50%; /* Hace que los botones sean prácticamente redondos */
    background-color: #fff; /* Fondo blanco */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
}

.pagination-button-left {
    left: 37%;
}

.pagination-button-right {
    right: 37%;
}

.pagination-button-left:hover,
.pagination-button-right:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar por encima */
}



/* Estils segon apartat de main */
.project-cards {
    background-color:  #e4edf4; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 1px; /* Espaiat interior */
    height: auto;
}

.buttonContainerMain {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end; /* Botons tirats cap a la dreta */
    margin-bottom: 10px; /* Espai entre els botons i les tarjetes */
    margin-right: 13%;
}


.filter-icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.buttonMain-selected {
    background-color: #084e1d; /* Cambia el color de fondo al seleccionado */
    font-weight: bold; /* Negreta mitjà */
    color: white;
    width: 95px;
    height: 30px;
    margin: 0 7px; /* Espaiat entre botons */
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
    transition: background-color 0.3s; /* Transició suau del color de fons */
}


.buttonMain {
    font-weight: bold; /* Negreta mitjà */
    background-color: #109336;
    color: white;
    width: 95px;
    height: 30px;
    margin: 0 7px; /* Espaiat entre botons */
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
    transition: background-color 0.3s; /* Transició suau del color de fons */
}

.buttonMain:hover {
background-color: #084e1d;


}



.cardContainer {
    display: flex;
    flex-wrap: wrap; /* Permetre que les targetes es "wrap" a la següent línia */
    justify-content: space-between; /* Espai entre les targetes */
    margin: 50px;
    min-height: 400px;
}

.card-exemple {

    margin: 5px;
    position: relative;
    padding: 20px;
    width: 350px; /* Este es el width que se aplica finalmente */
    height: 360px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}


.logo {
    width: 90px; 
    height: 90px;
    border-radius: 8px; /* Bordes rodons per la imatge */
    margin-right: 10px;
    position: absolute;
}


.project-title {
margin-left: 100px;
margin-top: 5%;
font-weight: bold;
border-bottom: 1px solid #b99e28;
width: 45%;
position: absolute;
}

.sector {
    margin-left: 100px;
    margin-top: 16%;
    position: absolute;
}

.company {
    margin-left: 100px;
    margin-top: 11%;
    position: absolute;
}

.description {
    font-size: 12px;
    margin-left: 100px;
    position: absolute;
    margin-top: 28%;
    margin-right: 3%;
    max-width: 63%;
    word-wrap: break-word; /* Opcional: también puedes usar 'overflow-wrap: break-word;' */
}


.budget {
    position: absolute;
    width: 90px; 
    height: 40px;
    background-color: #4ba04f; /* Color de fons */
    color: white; /* Color del text */
    border-radius: 10px; /* Bordes rodons */
    padding: 5px 10px; /* Espaiat interior */
     /* Espaiat superior */
    text-align: center; /* Aliniam el text al centre */
    margin-top: 28%;
    
}

.budget-title {
    margin-top: 4%;
    font-weight: 500;
    margin-right: 5px; /* Espaiat dret */
    font-size: 90%;
    white-space: nowrap; /* Evita que el text es divideixi en línia */
}



.date {
    position: relative; 
    background-color: #f6fce0; /* Color de fons groc */
    border-radius: 13px; /* Bordes rodons */
    padding: 4px; /* Espaiat interior */
    display: flex; /* Per utilitzar flexbox */
    align-items: center; /* Centrat verticalment els elements */
    width: 95px; 
    font-size: 12px;
    height: 30px;
}

.date-container {
    display: flex;
    align-items: center; /* Centrar verticalment els elements */
    margin-top: 42%;
    position: absolute;
    
}

.clock-icon {
    width: 13px;
    height: 13px;
    margin-right: 2px; /* Espaiat entre l'ícone i la data */
    margin-top: 0;
}

.date-text {
    font-weight: 500; /* Pes de la lletra */
    margin-top: 17px;
}

.button-row {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px; /* Espai entre botons */
    margin-top: 55%; /* Espai superior entre files */
}

.button-row-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px; /* Espai entre botons */
    margin-top: 67%; /* Espai superior entre files */
}

.blue-button {
    background-color: #f3f4f6;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    width: 90px;
    height: 30px;
    
    
}

.buttons-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 80%;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Elimina el padding perquè l'aspecte sigui més com un ícone */
    border: none; /* Elimina les bordes */
    background-color: transparent; /* Fons blanc */
}



.button-icon img {
    width: 35px; /* Ajusta la mida de la imatge segons les teves necessitats */
    height: 35px;
}
.button-icon:hover img {
    transform: scale(1.2); /* Augmenta la mida de la imatge al passar el ratolí per sobre del botó */
}

.open-icon {
    margin-top: 10%;
    position: absolute;
    margin-left: 320%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Elimina el padding perquè l'aspecte sigui més com un ícone */
    border: none; /* Elimina les bordes */
    background-color: transparent; /* Fons blanc */

}

.open-icon img {
    width: 18px; /* Ajusta la mida de la imatge segons les teves necessitats */
    height: 18px;
}

.show-more-button {
    font-weight: bold;
    background-color: #109336;
    color: white;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin: 20px auto; /* Centra horizontalmente y añade espacio arriba y abajo */
    display: block; /* Para centrar el botón */
}


.show-more-button[disabled] {

    background-color: gray; /* Cambia este color al que desees */
    color: white; /* Cambia el color del texto si es necesario */
}

.show-more-button[disabled]:hover {

    background-color: #a8a7a7; /* Cambia este color al que desees */
    color: white; /* Cambia el color del texto si es necesario */
}

.show-more-button:hover {
    background-color: #084e1d;
    }
    




/* Estils per al div de la barra lateral amb els anuncis i el chat */
.sidebar-section {
    flex: 0 0 300px; /* Amplada fixa */
    margin-right: 20px; /* Espaiat a la dreta */
}

/* Estils per als apartats d'anuncis i events */
.events, .chat-section {
    background-color: white; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 20px; /* Espaiat interior */
    margin-bottom: 30px; /* Espaiat inferior */
}

/* Estils per a l'apartat d'anuncis */
.ads {
    position: relative;
    background-color: white; /* Color de fons */
    border-radius: 10px; /* Bordes rodons */
    padding: 25px 25px;
    margin-bottom: 30px; /* Espaiat inferior */
    background-image: url('/public/images/ad-image4.jpg'); /* Ruta de la imatge de fons */
    background-size: cover; /* Escalat per cobrir tot l'element */
    background-position: center; /* Posició de la imatge centrada */
    height: 300px;
    cursor: pointer; /* Canvia el cursor a la màquina quan està sobre l'element */
    pointer-events: auto; /* Habilita els events de punter */
    color: white;
    font-weight: normal;
}

.ad-text {
    margin-top: 3%;
    position: absolute;
    margin-right: 60%;
}

.ad-more {
    position: absolute;
margin-top: 70%;
}

.ad-icon {
    position: absolute;
    margin-left: 75%;
}


/* Estils per a tots els divs amb títols */
.chats-title {
    font-weight: bold;
    margin-bottom: 10px;

}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en toda la pantalla */
    z-index: 1; /* Sitúa el modal encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Anchura completa */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgba(0,0,0,0.4); /* Color de fondo */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Puede ajustarse al ancho deseado */
    height: 20%;
    padding: 50px 50px;
    justify-content: center; /* Centra horitzontalment els elements */
    align-items: center; /* Centra verticalment els elements */
}
#cancelButton {
    font-weight: bold; /* Negreta mitjà */
    background-color: #109336;
    color: white;
    width: 25%;
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
    transition: background-color 0.3s; /* Transició suau del color de fons */
    margin-top: 4%;
}
#confirmButton {
    font-weight: bold; /* Negreta mitjà */
    background-color: #109336;
    color: white;
    width: 25%;
    margin-top: 4%;
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
    transition: background-color 0.3s; /* Transició suau del color de fons */
}



.events {
    margin-top: 20px; /* Espaciado superior */
    background-color: #b2d4e0;
}

/* Estils per a apartat d'events */
.events-title {
    font-weight: bold;
    margin-bottom: 10px;

}
.tarjetas-container {
 
    justify-content: space-between;
    padding: 8px 8px;
}
.tarjeta {
    display: flex; /* Usamos flexbox para establecer un diseño de fila */
    align-items: center;
    padding: 8px 8px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px; /* Bordes rodons */
}

.tarjeta img {
    width: 30%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30%; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 10%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Espaciado entre la imagen y la información */
}

.tarjeta .informacion {
    font-size: 14px; /* Tamaño del texto */
}

.tarjeta h6 {
    margin: 0; /* Elimina el margen superior e inferior del título */
    font-weight: bold; /* Texto en negrita */
}





/*footer*/
.footer {
    background-color: white;
    color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    margin-right: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}


.open-button {
    position: absolute;
    border-radius: 50%; /* Hace el botón redondo */
    width: 20px; /* Ajusta el tamaño según necesites */
    height: 20px; /* Ajusta el tamaño según necesites */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Añade un borde, ajusta según tu diseño */
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clicable */
    margin-left: 80%; /* Añade un margen a la izquierda para separarlo de los otros botones */
    font-size: 20px; /* Ajusta el tamaño de la fuente/flecha dentro del botón */
    margin-top: 82%;
}

/* Para asegurarte de que los botones de interacción y el botón de abrir estén alineados correctamente,
podrías necesitar ajustar el contenedor de buttonsIcons con flexbox */
.buttons-icons {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del contenedor */
}


.back-button {
    margin-top: -6%;
    margin-left: 3%;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 40px;
    background-color: #e4edf4;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.back-button:hover {
    background-color: #baf1f5;
}

.project-details-card {
    padding: 40px 40px;
}

/* Estilos para la clase "project-image" */
.project-image {
    width: 400px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
}



/* Estilo para el botón deshabilitado */
.pagination-button[disabled] {
    background-color: gray; /* Cambia este color al que desees */
    color: white; /* Cambia el color del texto si es necesario */
}

.card-exemple-mentor {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
}

.mentor-image {
    width: 150px;
    height: 260px;
    border-radius: 10%;
    margin-right: 20px;
    object-fit: cover;
}

.mentorContainer {
    display: flex;
    flex-direction: column; /* Las tarjetas se apilan verticalmente */
    align-items: center; /* Centra las tarjetas horizontalmente */
    margin: 0;
    padding: 0;
    min-height: 400px;

}

/* Estilos de apariencia de enlace */
.mentor-name {
    color: blue; /* Color del texto */
    text-decoration: underline; /* Subrayado para indicar que es un enlace */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el enlace */
  }
  
  /* Estilos cuando se pasa el cursor sobre el enlace */
  .mentor-name:hover {
    color: darkblue; /* Cambiar el color del texto */
  }
  
  .expertise-tag {
    font-weight: bold;
    display: inline-block;
    background-color: #e1e1e1; /* Color de fondo de la mini tarjeta */
    border-radius: 40px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    margin: 2px; /* Espaciado externo */
    font-size: 0.8em; /* Tamaño de fuente más pequeño */
    color: #333; /* Color de texto */
    white-space: nowrap; /* Evita que el texto se envuelva */
    cursor: pointer;
  }
  .expertise-tag:hover {
    background-color: #cfcdcc;
  }
  
  .expertise-container {
    display: flex; /* Usa flexbox para organizar las mini tarjetas */
    flex-wrap: wrap; /* Permite que las mini tarjetas pasen a la siguiente línea si no caben */
    gap: 5px; /* Espaciado entre mini tarjetas */
    margin-top: 10px; /* Espaciado sobre la primera mini tarjeta */
  }
  
/* estils mentor DETAILS*/
.mentorDetailsContainer {
    display: none;
    position: relative;
    padding: 40px;
  }
  
  .mentor-details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px; /* Espacio en la parte inferior */
    position: relative;
  }
  
  .mentor-details-top {
    width: 100%;
    background-color: #1c3d7a; /* Color azul */
    color: #fff;
    padding: 10px 0; /* Espacio vertical */
    text-align: center;
    height: 200px;
  }
  
  .mentor-social-link {
    text-decoration: none;
    margin-left: 70%;

  }

  .linkedin-logo {
    width: 50px;
    height: 50px;
   margin-top: 17%;
  }
  
  .mentor-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute; /* Posicionar sobre las secciones */
    left: 4%;
    top: 28%; /* Ajuste basado en el tamaño del borde superior */
    transform: translateY(-50%); /* Desplaza hacia arriba para sobresalir entre secciones */
    border: 4px solid #fff; /* Borde para mejorar la transición entre secciones */
  }
  
  .mentor-details-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-top: 4%;
    padding: 20px;
  }
  
  .mentor-personal-info {
    flex-basis: 50%; /* Ocupa aproximadamente la mitad del espacio */
    padding: 20px;
  }
  
  .mentor-skills {
    flex-basis: 50%;
    padding: 20px;
  }
  
  .mentor-skill-tag {
    display: inline-block;
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 0.8em;
  }
  

  .location-icon {
    display: inline-block;
    margin-right: 5px; /* Espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea el icono con el medio del texto */
  }
  
  /* Si estás usando una imagen para el icono */
  .location-icon img {
    width: 16px; /* o el tamaño que prefieras */
    height: 16px;
  }
  
  
  .back-button-mentor:hover {
    background-color: #3c5f99;
  }
  
  .back-button-mentor {

    position: absolute; /* Posicionamiento absoluto respecto a su contenedor relativo */
    top: 10%; /* Espacio desde la parte superior */
    left: 0%; /* Espacio desde la izquierda */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Relleno */
    cursor: pointer; /* Cursor de mano al pasar por encima */
    background-color: transparent;
    border-radius: 50%;
    color: white;
    margin-top: -6%;
    margin-left: 3%;
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */

  }

 .title-style {
    margin-top: 10%;
 }

 .yours-projects-section, .joined-projects-section {
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
    display: inline-block; /* Mostrar elementos en línea */
    padding: 10px; /* Agregar espacio alrededor del contenido */
    margin-top: 5%;
  }
  
  .yours-projects-section:hover,
  .joined-projects-section:hover {
    /* Estilos adicionales cuando se hace hover */
    /* Por ejemplo, cambia el color de fondo o agrega una sombra */
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
  } 
  
  .yours-projects-section:focus,
  .joined-projects-section:focus {
    /* Estilos adicionales cuando se hace hover */
    /* Por ejemplo, cambia el color de fondo o agrega una sombra */
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  } 
  

.created-projects-container {
    display: flex;
    flex-wrap: wrap; /* Permetre que les targetes es "wrap" a la següent línia */
    justify-content: space-between; /* Espai entre les targetes */
    margin: 50px;
    min-height: 400px;

}

.card-project-created {
    margin: 5px;
    position: relative;
    padding: 20px;
    width: 350px; /* Este es el width que se aplica finalmente */
    height: 360px;
    background-color: #ffffff;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; /* Centra el contenido horizontalmente */
    overflow: hidden; /* Para que los botones absolutos no se salgan de la tarjeta */
}



.project-info {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    padding-right: 20px; /* Espacio entre la imagen y el título */
}

.logo-created {
    width: 90px; 
    height: 90px;
    border-radius: 8px; /* Bordes rodons per la imatge */
    margin-right: 10px;
    position: absolute;
    margin-top: 25%;

}

.title-created {
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
}

.description-created {
    position: absolute;
    padding-right: 5%;
    margin-top: 30%;
}

.date-created {
    position: absolute;
    margin-left: 30%;
    margin-top: 18%;
}

.username-created {
    position: absolute;
    margin-left: 30%;
    margin-top: 12%;
}


.project-details-created {
    flex-grow: 1; /* Permite que el título y los detalles del proyecto ocupen todo el espacio disponible */
}





.button-container-created {
    position: absolute;
    margin-top: 70%;
    left: 0; /* Alinea el contenedor de botones al lado izquierdo de la tarjeta */
    width: 100%; /* Ocupa todo el ancho de la tarjeta */
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
}

.button-project-created {
    font-weight: bold;
    background-color: #109336;
    color: white;
    width: 75px;
    height: 30px;
    margin: 0 5px; /* Espacio horizontal entre los botones */
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01);
    transition: background-color 0.3s;
}

.button-project-created:hover {
    background-color: #084e1d;
}

.button-project-created:focus {
    background-color: #084e1d;
}


    .open-button-created {
        position: absolute;
        border-radius: 50%; /* Hace el botón redondo */
        width: 20px; /* Ajusta el tamaño según necesites */
        height: 20px; /* Ajusta el tamaño según necesites */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000; /* Añade un borde, ajusta según tu diseño */
        background-color: #fff; /* Ajusta el color de fondo según tu diseño */
        cursor: pointer; /* Cambia el cursor a un puntero para indicar que es clicable */
        margin-left: 80%; /* Añade un margen a la izquierda para separarlo de los otros botones */
        font-size: 20px; /* Ajusta el tamaño de la fuente/flecha dentro del botón */
        margin-top: 5%;
    }

.add-user {
    width: 20px;
    height: auto;
}


/* Estilo básico para el modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 10000;
    display: block !important;
}


.request-image {
    width: 20px;
    height: auto;
}
.no-projects {
    margin-left: 28%;
    margin-top: 10%;
    font-size: 24px; /* Tamaño de fuente más grande */
    font-weight: 500; /* Peso de fuente */
}


.modal-button {
    background-color: #109336;
    color: white;
    width: 100px;
    height: 30px;
    margin: 0 7px; /* Espaiat entre botons */
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes rodons */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 01); /* Sombra a la dreta i abaix del botó */
}



/* Estilos básicos para el modal de edición */
.editProject {

    min-height: 900px;
    margin-left: 10%;
    margin-top: 7%;
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001; /* Asegúrate de que esté por encima de otros elementos */
    display: none; /* Oculto por defecto */
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    outline: none;
}

.tab:hover {
    background-color: #ddd;
}

.tab:focus {
    background-color: #ccc;
}

/* Estilos para la pestaña activa */
.active {
    background-color: #ccc;
}

.tabContent {
    display: none; /* Oculto por defecto */
    padding: 20px;
}

.tabContent.active {
    display: block; /* Mostrar solo el contenido de la pestaña activa */
}

/* Área de CKEditor */
#editor {
    width: 100%;
    height: 500px; /* Tamaño inicial del editor */
}

/* Estilos adicionales para información del proyecto */
.infoTab {
    font-size: 16px;
}

.infoTab ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}

.infoTab li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}


.back-button-edit {
margin-bottom: 2%;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 40px;
    background-color: #e4edf4;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.back-button-edit:hover {
    background-color: #baf1f5;
}


.save-mentor-button { 
    position: absolute;
    right: 30px; /* Coloca el botón a la derecha */
    top: 30px; /* Ajusta la posición superior según necesites */
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    width: 25px; /* Ajusta si es necesario */
    height: 25px; /* Ajusta si es necesario */
}

.save-mentor-icon {
    width: 100%; /* Usa 100% para que llene el botón */
    height: 100%; /* Usa 100% para que llene el botón */
}

.save-mentor-button:hover { 
    width: 30px; /* Ajusta si es necesario */
    height: 30px;
}


